* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Arial, sans-serif;
}

body {
  background: #f5f7f9;
  color: #111;
}

nav {
  width: 100%;
  background-color: #0d1b2a; 
  padding: 18px 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav .logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 35px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: 0.3s;
}

nav ul li a:hover {
  opacity: 0.8;
}


/* MAIN */
.container {
  display: grid;
  grid-template-columns: 2.2fr 1fr;
  gap: 40px;
  padding: 10px 6%;
  margin-top: 110px;
  align-items: start; /* ✅ KY E RREGULLON */
}


/* FORM */
.form-area h2 {
  margin-bottom: 20px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 25px;
  border: 1px solid #ddd;
}

.card h3 {
  margin-bottom: 15px;
}

.row {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.field {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.field.small {
  max-width: 120px;
}

label {
  font-size: 13px;
  margin-bottom: 5px;
}

input, select {
  padding: 12px;
  border: 1px solid #0d1b2a;   /* ✅ kjo osht e saktë */
  border-radius: 6px;
  font-size: 14px;
  outline: none;
}

/* ACTIONS */
.actions {
  display: flex;
  justify-content: space-between;
}

.back {
  text-decoration: none;
  display: flex;
  align-items: center;      /* qendër vertikale */
  justify-content: center;  /* qendër horizontale */

  background: transparent;
  border: 2px solid #0d1b2a;
  padding: 8px 28px;
  border-radius: 6px;
  color: #0d1b2a;
  cursor: pointer;
  transition: 0.25s;
}


.hotel-btn {
  background-color: #0d1b2a;
  color: white;
  border: none;
  padding: 16px 28px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 6px 18px rgba(13, 27, 42, 0.25);
  text-decoration: none;

}

/* hover */
.hotel-btn:hover {
  background-color: #132c46;
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(13, 27, 42, 0.35);
}

/* klik */
.hotel-btn:active {
  transform: translateY(0);
  box-shadow: 0 4px 12px rgba(13, 27, 42, 0.25);
}


/* BASKET */
.basket {
  background: white;
  padding: 25px;
  border-radius: 10px;
  border: 1px solid #ddd;
  height: fit-content;
}

.basket h3 {
  margin-bottom: 20px;
}

.price, .total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.total {
  font-size: 18px;
}

.trip {
  border-top: 1px solid #ddd;
  padding-top: 15px;
  font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }

  .row {
    flex-direction: column;
  }
}


.form-area h2 {
  margin-bottom: 20px;
}

.basket {
  margin-top: 48px;
}

