* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
    background: #ffffff;
}

nav {
  width: 100%;
  background-color: #0a1d3b; /* Navy Blue */
  padding: 18px 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav .logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 35px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: 0.3s;
}

nav ul li a:hover {
  opacity: 0.8;
}

.hero {
  margin-top: 80px;
  height: 420px;
  background: linear-gradient(rgba(5, 20, 40, 0.65), rgba(5, 20, 40, 0.65)),
    url("flyfuture.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
}